@{
    ViewData["Title"] = "Home Page";
}
<div class="row m-3">

</div>
<div class="row m-3">
    <div class="col-lg-3" style="text-align:center">
        <h1>Expiration</h1>
    </div>
    <div class="col-lg-6" style="text-align:center">
        <h1>@ViewBag.Expiration</h1>
    </div>
    <div class="col-lg-3" style="text-align:center">
        <h1>
            @if (ViewBag.IsExpired)
            {
                <span>Expired</span>
            }
            else
            {
                <span>Not Expired</span>

            }
        </h1>
    </div>

</div>

